.main {
	/* 	background: linear-gradient(123.56deg, #080B0E 6.28%, #030E19 91.98%); */
	min-height: 100vh;
}

.amountInput,
.amountInput::placeholder {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	vertical-align: middle;
	color: #5F5F5F;
}

.amountInput {
	font-weight: 600;
}

.amountInput:focus {
	outline: 4px solid #0AD312
}

.pricePerUnitInput{
	background: none;
	border: none;
	width: 46%;
}

.amountInputSeller{
	background: none;
	border: none;
	width: 60%;
}

.pricePerUnitInput:focus,.amountInputSeller:focus{
	outline: 1px solid #0AD312
}


.userReviewRatingDropDown {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
	background-color: #F0F0F0;
	cursor: pointer;
	width: 234px;
	height: 44px;
}

.userReviewRatingDropDown.selected {
	outline: 4px solid #0AD312
}

.userReviewRatingDropDownText {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #5F5F5F;
}

.userReviewRatingDropDownText.selected {
	animation: fadeIn 1s;
}


.ReviewRatingDropDownArrow {
	transition: all 0.6s ease-in-out;
}

.selectedArrow {
	transform: rotate(180deg)
}

.dropdownRatingMenu {
	width: 270px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 4px;

	position: absolute;
	margin-top: 255px;
	z-index: 1000;
}


.optionData {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}

.ratingOptionName {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #5F5F5F;
}



.dataRowContainer {
	background: linear-gradient(90.5deg, #222222 15.87%, rgba(34, 34, 34, 0.6) 61.15%);
	border: 1px solid #707070;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(25px);
	border-radius: 14px;
}

.placeRequestBtn {
	background: linear-gradient(90.59deg, #4CAF50 -4.17%, rgba(31, 180, 37, 0.950781) 40.9%, rgba(0, 255, 10, 0.85) 106.77%);
	border-radius: 11px;
}


.bgPatch1 {
	position: absolute;
	width: 393px;
	height: 273px;
	left: 113px;
	top: 299px;
	margin-left: 4%;
	margin-top: 2%;

	background: #336635;
	filter: blur(186px);
}

.patch2Container {
	margin-top: -7%;
}

.bgPatch2 {
	/* position: absolute; */
	width: 1006px;
	height: 702px;

	background: #336635;
	filter: blur(186px);
	background-size: cover;
	background-position: top;
}


@media only screen and (max-width: 469px) {
	.userReviewRatingDropDown {
		padding: 15px 50px;
	}

}

@media only screen and (max-width: 380px) {
	.userReviewRatingDropDown {
		width: 80vw;
		gap: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		overflow: auto;
	}

	.dropdownRatingMenu {
		width: 80vw;
		overflow: auto;
	}
}