@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading_spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 4px solid rgba(31, 180, 37, 0.950781); /* Light grey */
    border-top: 4px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  /* linear-gradient(90.75deg, #8BC34A 49.35%, rgba(31, 180, 37, 0.950781) 93.08%); */

  .spinner_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
